.bottom-navigator-wrapper {
  display: none;
}

@media only screen and (max-width: 600px) {
  .bottom-navigator-wrapper {
    display: block;
    margin-top: 56px;
    z-index: 100;

    .MuiBottomNavigation-root {
      justify-content: space-around;
      align-items: center;
      width: 100%;
      position: fixed;
      bottom: 0;
      background: $white;
      z-index: 1500;
      box-shadow: 0px -4px 6px -2px lightgray;

      .BNButton {
        background: $orange;
        border: 1px solid white;
        color: $white;
        font-size: 12px;
        padding: 0.5rem 1rem;
        border-radius: 60px;

        &:hover {
          border: 1px solid $orange;
          background: $white;
          color: $orange;
        }

        .iconSize {
          font-size: 16px;
          margin-right: 0.2rem;
        }

        .iconSizeArabic {
          font-size: 16px;
          margin-left: 0.3rem;
        }
      }
    }
  }
}